<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handyman.handyman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/handymanlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ask" />
        <activity android:name=".Hlogin" />
        <activity android:name=".Clogin" />
        <activity android:name=".HRegister" />
        <activity android:name=".Cregister" />
        <activity android:name=".CustomerMobile" />
        <activity android:name=".Verify" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Handylist" />
        <activity android:name=".Bookservice" />
        <activity
            android:name=".Hdashboard"
            android:label="@string/title_activity_hdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CustBooking" />
        <activity android:name=".Order" />
        <activity android:name=".Hprofile" />
        <activity android:name=".Cprofile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".Newpassword" />
        <activity android:name=".HChangePassword" />
        <activity android:name=".HNewPassword" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".CVerifyotp" />
        <activity android:name=".HForgetpassword" />
        <activity android:name=".HVerifyotp"></activity>
    </application>

</manifest>